
// Variables & Mixins

$bodyFont: 'Work Sans', sans-serif;
$hilightFont: 'Advent Pro', sans-serif;
$threeFont: 'Nunito', sans-serif;
$fourFont: 'Josefin Sans', sans-serif;
$mobileBP: 960px;

// Resets

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $bodyFont;
	font-size: 1rem;
	font-weight: 100;
	position: relative;
	display: block;
	color: black;
	line-height: 1rem;
}

script, head {
	display: none;
}

// Site Structure



body {
  background-color: white;
}

header {
	text-align: center; 
	margin-top: 2rem;
	padding: 0 2rem;
	
	h1 {
		font-size: 3rem;
		line-height: 3rem;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-weight: 200;
		background: linear-gradient(#ffb5c5 0%, #835e79 50%, #5592af 100%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;

	}
	
	h2 {
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 13px;
		margin-bottom: 1.5rem;
		padding-left: 4px;
		color: #999;
		font-weight: 300;
	}
	
	a {
		border: none;
		display: block;
		padding: 0;
	}
	
	a:hover {
		border: none;
		background: none;
	}
}

footer {
	margin-top: 4rem;
	margin-bottom: 3rem;
	text-align: center;
	
	.half {
		 // border: 1px solid teal;
			padding: 1rem 2rem;
		
		h5 {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.5rem;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			color: #333;
			margin-bottom: .5rem;
			
		}
		
		a {
			border: none;
			padding: 0;
			margin: 0;
			font-size: 1rem;
		}
		
		a:hover {
			background: none;
			color: #999;
		}
		
		p {
			font-size: 1rem;
			font-weight: 300;
			line-height: 1.5rem;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			color: #666;
			text-transform: uppercase;
		}
		
	}
	
	.contactWrap {
		text-align: center;
		
		@media screen and (min-width: $mobileBP) {
			text-align: right;
		}
		
		
	}
	
	.shopWrap {
		text-align: center;
		
		@media screen and (min-width: $mobileBP) {
			text-align: left;
		}
		
	}
	
	h5 {
		margin: 0 auto;
		color: #999;
		margin-top: 3rem;
	}
}

// Grid

.gridWrap {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 1260px;

}

.full {
	width: 100%;
}

.half {
	width: 100%;
	display: inline-block;
	
	@media screen and (min-width: $mobileBP) {
		width: 48%;
	}
	
	.detailsFlat {
		background: white;
	}
	
	.detailsFlat:hover {
		background: white;
	}
	
}

.thirdsOne {
	width: 30%;
	min-width: 400px;	
}

.thirdsTwo {
	width: 60%;
}

.noBotMargin {
	margin-bottom: 0 !important;
}



// Base Fonts

h1 {
	font-weight: 200;
	
}

h2 {
	font-weight: 700;

}

h3 {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	font-weight: 100;
	font-size: 2rem;
	color: #666;
	margin-bottom: .75rem;
	
}

h5 {
	font-weight: 400;
	font-size: .75rem;
	text-transform: uppercase;
	color: #666;
}

p {
	font-size: 1rem;
	font-weight: 200;
	line-height: 1.5rem;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 1rem;
}

a {
	font-size: .75rem;
	font-weight: 400;
	border: 1px solid black;
	padding: .3rem .8rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .5s;
	display: inline-block;
}

a:hover {
	color: white;
	border: 1px solid black;
	background: black;
	transition: all .3s;
}


// Sections

section {
	background-color: white;
	padding: 2rem;
	vertical-align: top;
	margin-bottom: 3rem;
	
	overflow: hidden;
	
	.details {
		max-width: 360px;
		position: absolute;
		bottom: 3rem;
		left: 2.5rem;
		background: rgba(0,0,0,0.15);
		padding: 1rem .75rem;	
		line-height: 1rem;
		transition: all .3s;
		
		h1 {
			font-weight: 600;
			margin-bottom: .5rem;
		}
		
		p {
			font-size: .9rem;
			line-height: 1.25rem;
			font-weight: 300;
		}
	}
	
	.details:hover {
		background: rgba(0,0,0,0.3);
		transition: all .5s;
		
	}
	
	.detailsFlat {
		width: 100%;
	
		background: rgba(0,0,0,0.15);
		padding: 1rem .75rem;	
		line-height: 1rem;
		transition: all .3s;
		text-align: center;
		
		h1 {
			font-weight: 600;
			margin-bottom: .5rem;
		}
		
		p {
			font-size: .9rem;
			line-height: 1.25rem;
			font-weight: 300;
		}
	}
	
	.detailsFlat:hover {
		background: rgba(0,0,0,0.3);
		transition: all .5s;
		
	}	
	
}

// Home Page

.sectionIntro {
	text-align: center; 
	
	h1 {
		font-size: 3rem;
		line-height: 3rem;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-weight: 200;
		background: linear-gradient(#ffb5c5 0%, #835e79 50%, #5592af 100%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;

	}
	
	h2 {
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 13px;
		margin-bottom: 0rem;
		padding-left: 4px;
		color: #999;
		font-weight: 300;
	}
	
	p {
		font-weight: 300;
		color: #666;
	}
}

.sectionPrimary {
	height: auto;
	padding: 0;
	
	img {
		position: relative;
		width: 100%;
		height: auto;
	}
	
	p {
		font-weight: 300;
	}
	
}

// About & Process 

.sectionTwo {
	
	p {
		font-weight: 300;
		color: #666;
	}
	
	.aboutWrap {
	
		
	}
	
	.collectionWrap {
		margin-top: 3rem;
		
		h3 {
			border-top: 1px solid #ddd;
			padding-top: 3rem;
		}
		
	}
	
}

.sectionThree {
	background: url('../img/sunbeamTwinsDetail-5.jpg');
	background-size: cover;
	padding: 0;
	margin-top: 2.5rem;
	
	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.65);
	}
	
	.linkWrap {
		padding: 12rem 0;
		text-align: center;
	}
	
	a {
		font-size: 1rem;
		font-weight: 200;
		color: white;
		border: 1px solid white;
		display: inline-block;
		margin: 0 auto;
		padding: .8rem 1rem;
		text-transform: uppercase;
	}
	
	a:hover {
		background: black;
	}
}


// End Home Page

// Product Pages

.prodGallery {
	
	div {
		width: 100%;
		min-height: 200px;
		max-height: 250px;
		
		@media screen and (min-width: 700px) {
			max-height: 400px;
		}
		
		@media screen and (min-width: $mobileBP) {
			max-height: 650px;
		}
	}
	
	// Sunbeam One
	
	.sbOne-1 {
		background: url('../img/sunbeamOneGallery.jpg');
		background-size: cover;
		background-position: center center;
	}
	
	.sbOne-2 {
		background: url('../img/sunbeamOneVert.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbOne-3 {
		background: url('../img/sunbeamOneDetail-1.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbOne-4 {
		background: url('../img/sunbeamOneDetail-2.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbOne-5 {
		background: url('../img/sunbeamOneDetail-3.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbOne-6 {
		background: url('../img/sunbeamOneDetail-4.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbOne-7 {
		background: url('../img/sunbeamOneDetail-5.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbOne-8 {
		background: url('../img/sunbeamOneDetail-6.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	
	// Sunbeam Two 
	
	.sbTwo-1 {
		background: url('../img/sunbeamTwoGallery.jpg');
		background-size: cover;
		background-position: center center;
	}
	
	.sbTwo-2 {
		background: url('../img/sunbeamTwoGalleryVert.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbTwo-3 {
		background: url('../img/sunbeamTwoDetail-1.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbTwo-4 {
		background: url('../img/sunbeamTwoDetail-2.jpg');
		background-size: cover;
		background-position: center center;		
	}	
	
	.sbTwo-5 {
		background: url('../img/sunbeamTwoDetail-3.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbTwo-6 {
		background: url('../img/sunbeamTwoDetail-4.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	
	// Sunbeam Twins
	
	.sbTwins-1 {
		background: url('../img/sunbeamTwinsGallery.jpg');
		background-size: cover;
		background-position: center center;
	}
	
	.sbTwins-2 {
		background: url('../img/sunbeamTwinsDetail-1.jpg');
		background-size: cover;
		background-position: center center;		
	}	
	
	.sbTwins-3 {
		background: url('../img/sunbeamTwinsDetail-2.jpg');
		background-size: cover;
		background-position: center center;		
	}	
	
	.sbTwins-4 {
		background: url('../img/sunbeamTwinsDetail-3.jpg');
		background-size: cover;
		background-position: center center;		
	}	
	
	.sbTwins-5 {
		background: url('../img/sunbeamTwinsDetail-4.jpg');
		background-size: cover;
		background-position: center center;		
	}	
	
	.sbTwins-6 {
		background: url('../img/sunbeamTwinsDetail-5.jpg');
		background-size: cover;
		background-position: center center;		
	}	
	
	.sbTwins-7 {
		background: url('../img/sunbeamTwinsDetail-6.jpg');
		background-size: cover;
		background-position: center center;		
	}
	
	.sbTwins-8 {
		background: url('../img/sunbeamTwinsDetail-7.jpg');
		background-size: cover;
		background-position: center center;		
	}	
	
	.sbTwins-9 {
		background: url('../img/sunbeamTwinsDetail-8.jpg');
		background-size: cover;
		background-position: center center;		
	}	
}

// Process Page 

.processWrap {
	
	
	.half {
		width: 100%;
		
		@media screen and (min-width: $mobileBP) {
			width: 49.75%;
			overflow: hidden;
		}
	}
	
	section {
		padding: 2rem;
		margin-bottom: .25rem;
	}
}

.processTop {
	background: url('../img/sunbeamTwoDetail-4.jpg');
	background-size: cover;
	background-position: center center;
	
	
	
	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.65);
		transition: all .3s;
	}
	
	.processIntro {
		position: relative;
		margin: 0 auto;
		text-align: center;
		color: white;
		
		p {
			
			color: white;
			font-size: 1.25rem;
			padding: 15rem 0;
			line-height: 2rem;
			
			.processTitle {
				color: #ccc;
				font-weight: 200;
				font-size: 3rem;
				display: inline-block;
				margin-bottom: 1rem;
			}
		}
	}
	
}

.processDetails {
	height: 28rem;
	background: #121212;
	p {
		color: white;
		padding: 6rem 0;
		line-height: 2.5rem;
		font-size: 1.2rem;
	}
}

.processOneImg {
	background: url('../img/sunbeamTwinsDetail-8.jpg');
	background-position: center center;
	background-size: cover;
	height: 28rem;
	
	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.65);
		transition: all .7s;
	}
	
	.dimmer:hover {
		background: rgba(0,0,0,0.25);
		transition: all 1s;
	}
}

.processTwoImg {
	background: url('../img/sunbeamTwoDetail-3.jpg');
	background-position: center center;
	background-size: cover;
	height: 28rem;
	
	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.65);
		transition: all .7s;
	}

	.dimmer:hover {
		background: rgba(0,0,0,0.25);
		transition: all 1s;
	}
}

.processThreeImg {
	background: url('../img/sunbeamTwinsDetail-1.jpg');
	background-position: center center;
	background-size: cover;
	height: 28rem;
	
	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.65);
		transition: all .7s;
	}
	.dimmer:hover {
		background: rgba(0,0,0,0.25);
		transition: all 1s;
	}
}


.sunbeamTwo {
	padding: 0;
	text-align: center;
	
	img {
		position: relative;
		height: auto;
		width: 100%;
		margin: 0 auto;
		
	}
}

.sunbeamTwins {
	padding: 0;
	
	
	img {
		position: relative;
		height: auto;
		width: 100%;
		margin: 0 auto;
		
	}
}

.prodDesc {
	
	
	
	@media screen and (min-width: $mobileBP) {
		padding-left: 5rem;
	}
	
	h1 {
		font-size: 1.75rem;
		line-height: 2.25rem;
		font-weight: 300;
		text-transform: uppercase;
	}
	
	h3 {
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.25rem;
		margin: .5rem 0;
	}
	
	h5 {
		font-size: 1.25rem;
		font-weight: 300;
	}
	
	p {
		width: 100%;
		max-width: 100%;
		font-weight: 300;
		
	}
	
	a {
		margin-top: 1rem;
		margin-right: .5rem;
	}
	
	
	
}

.prodDetail {
	
}

